.Polaris-IndexTable__TableCell--first + .Polaris-IndexTable__TableCell,
.Polaris-IndexTable__TableCell--first {
  position: inherit;
}
.Polaris-FooterHelp__Icon {
  display: none;
}
.Polaris-FooterHelp {
  margin: 0;
}
